<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学校管理系统</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.css' %}">

</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">学校用户管理</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">部门列表<span class="sr-only">(current)</span></a></li>
                <li><a href="/depart/show">用户注册列表</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">登录</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">账户 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">个人信息</a></li>
                        <li><a href="#">账户余额</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div style="margin-bottom: 10px">
        <a type="button" class="btn btn-success" href="/depart/add" target="_blank" >
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 新建
        </a>
    </div>
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>部门注册表
            </div>
            <table class="table table-bordered table-hove">
                <thead>
                <tr>
                    <th>id</th>
                    <th>部门</th>
                </tr>
                </thead>
                <tbody>
                {% for depart in depart_list %}
                    <tr>
                        <td>{{ depart.id }}</td>
                        <td>{{ depart.title }}</td>
                        <td>
                            <a href="/depart/{{ depart.id }}/edit" style="text-decoration: None" target="_blank">
                                <button type="button" class="btn btn-primary btn-xs">编辑</button>
                            </a>
                            <a href="/depart/delete?nid={{ depart.id }}" style="text-decoration: None">
                                <button type="button" class="btn btn-danger btn-xs" >
                                    删除
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div><!-- show内部的内容-->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">修改部门</h3>
        </div>

        <div class="panel-body">
            <form class="form-inline" method="post">
                  {% csrf_token %}
                <div class="form-group col-md-6">
                    <label for="exampleInputName2">部门名称</label>
                    <input type="text" class="form-control" id="exampleInputName2" value="{{ depart.title }}" placeholder="请输入新部门" name="department">
                </div>
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                    保存
                </button>
            </form>
        </div>
    </div>
</div><!-- edit内部的内容-->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">新建部门</h3>
        </div>

        <div class="panel-body">
            <form class="form-inline" method="post">
                  {% csrf_token %}
                <div class="form-group col-md-6">
                    <label for="exampleInputName2">部门名称</label>
                    <input type="text" class="form-control" id="exampleInputName2" placeholder="请输入新部门" name="department">
                </div>
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                    保存
                </button>
            </form>
        </div>
    </div>
</div><!-- add内部的内容-->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
</body>
</html>