{% extends 'mod_list.html' %}

{% block content %}

    {% load static %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    {% endblock %}
    <div class="container clearfix">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">添加任务</h3>
            </div>
            <div class="panel-body">
                <form id="form1" class="queryset-inline" novalidate>
                    {% for file in form %}
                        <div class="queryset-group col-md-6" style="margin-bottom: 10px ; position: relative">
                            <label>{{ file.label }}</label>
                            {{ file }}
                            <div style="color: red">
                                <span class="error_msg" style="position: absolute"></span>
                            </div>
                        </div>
                    {% endfor %}
                    <button type="button" class="btn btn-primary " id='add' style="float: left ;margin-left: 10px">
                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                        保存
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>任务表
                </div>
                <table class="table table-bordered table-hove">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>级别</th>
                        <th>任务名称</th>
                        <th>任务描述</th>
                        <th>执行人</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in queryset %}
                        <tr>
                            <td>{{ task.id }}</td>
                            <td>{{ task.get_level_display }}</td>
                            <td>{{ task.name }}</td>
                            <td>{{ task.description }}</td>
                            <td>{{ task.user.username }}</td>
                            <td>
                                <a href="#" style="text-decoration: None" target="_blank">
                                    <button type="button" class="btn btn-primary btn-xs">编辑</button>
                                </a>
                                <a href="#" style="text-decoration: None">
                                    <button type="button" class="btn btn-danger btn-xs">
                                        删除
                                    </button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <ul class="pagination">
                {{ page_str }}
            </ul>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script>
        $(function () {
            task_list()
        })

        function task_list() {
            $("#add").click(function () {
                $('.error_msg').text('')
                $.ajax({
                    url: "/task/add",
                    type: "post",
                    data: $("#form1").serialize(),
                    dataType: "json",
                    success: function (data) {
                        if (data.status) {
                            alert('添加成功')
                            location.reload()
                        } else {
                            console.log(data.error)
                            $.each(data.error, function (name, data) {
                                console.log(name)
                                console.log(data)
                                $("#id_" + name).next().text(data)
                            })
                        }
                    }
                })
            })
        }


    </script>
{% endblock %}

{% block tittle %}
    <title>任务添加</title>
{% endblock %}