{% extends 'mod_list.html' %}

{% block content %}
    <div class="container clearfix">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">编辑人员</h3>
            </div>
            <div class="panel-body">
                <form class="form-inline" method="post" novalidate>
                    {% csrf_token %}
                    {% for file in form %}
                        <div class="form-group col-md-6" style="margin-bottom: 10px">
                            <label>{{ file.label }}</label>
                            {{ file }}
                            <span style="color: red">{{ file.errors.0 }}</span>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary" style="float: left">
                        <span class="glyphicon glyphicon-file " aria-hidden="true"></span>
                        保存
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block tittle %}
    <title>编辑人员列表</title>
{% endblock %}